/* Basic style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');;

* {
    box-sizing: border-box;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #25a2c3;
    font-size: 1.2em;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-right: 1.1vh;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #393d41;
    line-height: 1.65;
}
/* HEADER */
header {
    background-color: black;
    height: 6rem;
    text-align: left;
    width: 100vw;
}

header img {
    height: 40%;
    padding: 1.3vh;
    margin: 2vh 2vw;
}

/* MAIN */

/* First Banner */

#banner-top {
    height: 60vh;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: top;
    text-align: center;
    overflow: auto;
}
#banner-top div {
    margin: 10vh 6vw;
    padding: 2vh;
    
}

#banner-top h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:  #25a2c3;
    font-size: 2rem;
    padding: 2vh 0;
}

#banner-top p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    padding: 2vh 6vw;
    justify-content: center;
}

#banner-top button {
    border-radius: 4px;
    color: beige;
    background-color:#f04c2f;
    border: none;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 3vh;
}

/* First Section */
#section-container {
    width: 100vw;
    height: 50vh;
    padding: 10% 0;
}
#first-section {
    display: block;
    width:47vw;
    height: 100%;
    text-align: left;
    float: right;
    padding-top:0.5vh;
    padding-left: 2vw;
}

#first-section h2:first-of-type {
    padding-top:1.5em
}

#first-section p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1em;
    padding-right: 6vw;

}

#img-1{
    border-radius: 50%;
    width: 50%;
}

#img1-cont {
    display: inline-block;
    width: 50vw;
    height: 100%;
    text-align: right;
}

/* Feedback */

#feedback {
    height: 38vh;
    background-color: #e22d0e;
    text-align: center;
    color: white;
    margin: 1.5em 0;
}

#feedback h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 2em;
}

#feedback p {
    font-family:'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-top: 1.7vh;
    color: white;
}

#feedback p:first-of-type {
    font-style: italic;
    font-weight: bold;
}

#feedback p:nth-of-type(2) {
    font-size: 1em;
}

#feedback p:nth-of-type(3) {
    font-size: 0.7em;
    padding-top: 0;
}

/* Thumbnail */
#thumbnail {
    text-align: center;
    padding: 3vh;
    margin: 3vh 1.5vw;
}

.thumb {
    display: inline-block;
    width: 28%;
    height: 48vh;
    margin-left: 4vw;
    text-align: center;
    border:  #dee1e3 solid 0.5px;
}

.thumb img {
    width: 100%;
    overflow: hidden;
}

.thumb p {
    font-size: 0.9em;
    padding: 0 0.7vh;
}

#thumb3 {
    float: right;
}

#thumb2 {
    justify-content: center;
}
/* FOOTER */

footer {
    background-color: #25a2c3;
    text-align: center;
    color: white;
}

footer h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    width: 23%;
    padding: 1.3em;
    margin:0 auto;
}

.footer-line {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.65;
}

footer a {
    color: white;
}

footer p {
    display: inline-block;
    font-size: 0.9em;
    padding: 1.5em 0;
    color: white;
}

#contact-section {
    margin-bottom: 1em;
    text-align: left;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    border-bottom: white solid 1.3px;
}

